.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal_container {
    position: relative;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    width: 700px;
    height: 500px;
    background-color: whitesmoke;
    border-radius: 1rem;
    .emptyCart{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      p{
        justify-content: end;
       color: red;
        font-size: 1.5rem;
        font-weight: bold;
 
      }
    }
    .payment {
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      .totalItemQuantity {
        width: 90%;

        justify-content: end;
        color: rgb(35, 75, 35);
        font-size: 1.2rem;
        font-weight: bold;
      }
      .modalButtons {
        display: flex;
        gap: 1rem;
        .clearCart {
          width: 100px;
          cursor: pointer;
          padding: 0.3rem;
          background-color: rgb(116, 25, 25);
          border: none;
          border-radius: 0.3rem;
          color: whitesmoke;
          font-weight: bold;
          transition: 0.5s;
        }
        .clearCart:hover{
          background-color: rgb(196, 14, 14);
          transform: translateY(-5px);
        }
        .checkOut {
          width: 100px;
          cursor: pointer;
          padding:0.5rem 0.3rem;
          background-color:  rgb(35, 75, 35);
          border: none;
          border-radius: 0.3rem;color: whitesmoke;
          font-weight: bold;  transition: 0.5s;
        }
        .checkOut:hover{
          background-color: green;
          transform: translateY(-3px);
        }
      }
    }
    .modalHeader {
      display: flex;
      justify-content: space-between;

      .shopping_cart_title {
        font-size: 1.4rem;
        color: var(--color2);
        font-weight: bold;
      }
      .closeBtn {
        font-size: 1.5rem;
        font-weight: bold;
        color: red;
        cursor: pointer;
      }
    }

    .shopping_cart_item {
      width: 90%;
      height: 100px;
      box-shadow: 0 0 2px 2px rgb(208, 198, 198);
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem;
      .quantity {
        flex: 1;
        color: var(--color1);
        display: flex;
        gap: 0.2rem;
        .increase {
          width: 50px;
          border: none;
          background-color: rgb(219, 212, 212);
          border-radius: 0.2rem;
          transition: 0.3s;
        }
        .value {
          font-size: 1.2rem;
          padding: 0 1rem;
          border-radius: 2px;
          background-color: rgb(35, 75, 35);
          color: white;
        }
        .increase:hover {
          background-color: rgb(155, 149, 149);
          cursor: pointer;
        }
        .decrease {
          width: 50px;
          border: none;
          background-color: rgb(219, 212, 212);
          border-radius: 0.2rem;
          transition: 0.3s;
        }
        .decrease:hover {
          background-color: rgb(155, 149, 149);
          cursor: pointer;
        }
      }
      .item_price {
        flex: 1;
        color: var(--color1);
        text-align: center;
      }

      .remove {
        flex: 1;
        color: var(--color1);
        .close_icon:hover {
          cursor: pointer;
          color: red;
        }
      }

      .item_name {
        font-weight: bold;
        font-family: "Courier New", Courier, monospace;
        color: var(--color1);
      }
      .item_description {
        color: var(--color1);
        font-size: 0.7rem;
      }

      .shopping_cart_image_container {
        flex: 2;
        height: 100%;
        overflow: hidden;

        .shopping_cart_image {
          border-radius: 0.5rem;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .shopping_cart_content {
        flex: 4;
      }
    }
  }
}
